<div>
  <h1>Task一覧 | Log in</h1>
</div>

<table border="0">
  <%= form_with(url: login_path, scope: :session) do |f| %>
    <tbody>
      <tr>
        <th align="right"><%= f.label :email, 'Email' %> :</th>
        <td><%= f.email_field :email %></td>
      </tr>
      <tr>
        <th align="right"><%= f.label :password, 'Password' %> :</th>
        <td><%= f.password_field :password %></td>
      </tr>
      <tr>
        <td><%= f.submit 'Log in' %></td>
        <td></td>
      </tr>
    </tbody>
  <% end %>

  <p>New user? <%= link_to 'Sign up now!', signup_path %></p>
</div>