<%= form_with(model: tasks) do |f| %>
  <% if tasks.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% tasks.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <p>
    <%= f.label :content, 'タスク' %>
    <%= f.text_field :content %>
  
    <%= f.label :status, 'ステータス' %>
    <%= f.text_field :status %>
  </p>
  <p><%= f.submit '追加' %></p>
<% end %>