<h1> id: <%= @task.id %> のタスク詳細ページ</h1>

<p>タスク: <%= @task.content %></p>
<p>ステータス: <%= @task.status %></p>

<p><%= link_to "Edit", edit_task_path(@task.id) %> | <%= link_to "Delete", @task, method: :delete, data: { confirm: "You sure?" } %></p>

<%= link_to '一覧に戻る', tasks_path %>
